// Premium Theme Button
.theme-toggle-btn {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background: var(--bs-body-tertiary);
    color: var(--bs-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
        // transform: rotate(15deg) scale(1.1);
        transform: scale(1.1);
        background: var(--bs-primary);
        color: white;
    }
}