/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    // font-family: "Outfit", sans-serif;
    font-family: "League Spartan", sans-serif;
}

/* Disable text selection across the whole app */
body {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and older */
    user-select: none;
    /* Standard syntax */
}

.about-section,
.contact-section,
.projects-section,
.skills-section {
    .underline {
        width: 80px;
        height: 4px;
        background-color: var(--bs-primary);
        border-radius: 2px;
    }
}

section {
    overflow: hidden;
}

.profile-pic {
    height: 30rem;
}

@media screen and (max-width: 1000px) {
    .profile-pic {
        height: 45rem;
    }
}

@media screen and (max-width: 800px) {
    .profile-pic {
        height: auto;
    }
}

// @media screen and (max-width: 600px) {
//     .profile-pic {
//         height: auto;
//     }
// }