/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Outfit", sans-serif;
}

.about-section,
.contact-section,
.projects-section,
.skills-section {
    .underline {
        width: 80px;
        height: 4px;
        background-color: var(--bs-primary);
        border-radius: 2px;
    }
}

section {
    overflow: hidden;
}